.selectText {
    color: black;
}

@media (min-width : 320px) and (max-width : 686px) {
    .FilterZone {
      width: 50%;
      margin: 25px auto;
      /* background:red */
    }  
  }
  
  @media (min-width : 687px) and (max-width : 767px) {
    .FilterZone {
      width: 70%;
      margin: 25px auto;
      /* background:green */
    }  
  }
  
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    .FilterZone {
      width: 70%;
      margin: 25px auto;
      /* background: blue; */
    }  
  }
  
  @media only screen and (min-width : 1025px) {
    .FilterZone {
      width: 30%;
      margin: 25px auto;
    }  
  }

  
.filterflex {
    margin: 10px 0;
}
