service cloud.firestore {
  match /databases/{database}/documents {    
   
    match /matches/{document=**} {
    	allow read: if false;
      allow write: if false;
      allow delete: if false;
      allow update: if false;
    }    
    
   match /notify/ScanData {
   		allow read: if false;
      allow write: if false;
      allow update: if false;
     	allow delete: if false;
    }
    
    match /preconfirmed/{document=**} {
    	allow read: if false;
      allow write: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}